.recipe {
}

.recipe .back-icon {
  margin-right: 6px;
  font-size: 20px;
}

.recipe .menu-name {
  display: block;
  font-size: 26px;
}

.recipe .recipe-wrapper {
  margin: 0 8px;
}

.recipe .recipe-wrapper .menu-material-title {
  margin-bottom: 8px;
  font-size: 22px;
}

.recipe .recipe-wrapper .menu-material {
  margin-bottom: 40px;
}

.recipe .recipe-wrapper .menu-item {
  margin-bottom: 40px;
}

.recipe .recipe-wrapper .menu-item .recipe-image {
  width: 100%;
  margin-bottom: 16px;
}

.recipe .recipe-wrapper .menu-item .recipe-des {
}
