.none-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.none-wrapper .like-none {
  margin-bottom: 50px;
  font-size: 14px;
}

.none-wrapper .return-btn {
  width: 80px;
  height: 34px;
  border: 1px solid #2b5926;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  color: #2b5926;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.return-btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: #2b5926;
}

.like-list {
  padding-top: 20px;
  background-color: rgb(227, 242, 227);
}
