.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 44px;
  background-color: #fff;
}

.navigation > .inner {
  width: 355px;
  height: 100%;
  margin: 0 auto;
}

.navigation .navigation-list {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation .navigation-list .navigation-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
}

.navigation .navigation-list .navigation-item:hover {
  cursor: pointer;
}

.navigation .navigation-list .navigation-item .navigation-icon {
  width: 22px;
  height: 22px;
}

.navigation .navigation-list .navigation-item .record {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 3px solid #999;
  border-radius: 50%;
}

.navigation .navigation-list .navigation-item .record:hover {
  cursor: pointer;
}
