@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap");

.result-list {
  position: relative;
  padding-top: 20px;
  background-color: rgb(242, 251, 242);
}

.result-list .result-title {
  font-family: "Sunflower", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.result-list .result-title:hover {
  cursor: pointer;
}

.result-list .heart-icon,
.result-list .active-heart {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 20px;
  transform: translateY(-50%);
}

.result-list .active-heart path {
  color: red;
}

.result-list .heart-icon:hover {
  cursor: pointer;
}
