@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap");

.inner {
}

.search-title {
  font-family: "Sunflower", sans-serif;
  display: inline-block;
  margin-bottom: 12px;
  font-size: 28px;
  font-weight: 600;
}

.search-form {
  margin-bottom: 38px;
}

.search-form .search-list {
}
