@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333;
}

.inner {
  position: relative;
  width: 355px;
  margin: 0 auto;
}

li {
  list-style: none;
}

span {
  display: inline-block;
}

img {
  display: block;
}
