* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

span {
  display: inline-block;
}

img {
  display: block;
}

.inner {
  position: relative;
  width: 355px;
  margin: 0 auto;
}
