.back {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
  border: none;
  background-color: transparent;
}

.back .back-icon {
  margin-right: 6px;
  font-size: 20px;
}
